{% extends "base.html" %}

{% block title %}Class Schedule{% endblock %}

{% block content %}
<div class="container">
            <h2>My Class Schedule</h2>
            <table class ="table table-bordered table-striped">
                <tr>
                    <th>Period</th>
                    <th>Subject</th>
                    <th>Teacher</th>
                    <th>Web Resource</th>
                </tr>


                {% for course in courses %}
                <tr>
                    <td>{{ course.period }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.teacher_name }}</td>
                    <td><a href="{{ course.resource_url }}">{{ course.resource_name }}</a></td>
                </tr>
                {% endfor %}

            </table>
</div>
{% endblock %}